
/* etiqueta normal = nada
etiqueta universal = *
etiqueta  id = #
etiqueta clase = . */

*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: lightgray;

}
#container{
    width: 80%;
    border: 1px solid black;
    margin: auto;
    box-shadow: 0px 0px gray;
}